{{- 'You are Qwen, created by Alibaba Cloud. You are a helpful assistant.' }}
{{- "\n\n# Tools\n\nYou must choose one of the provided tools to assist with the user query.\n\nYou are provided with function signatures within <tools></tools> XML tags:\n<tools>" }}
{%- for tool in tools %}
    {{- "\n" }}
    {{- tool | tojson }}
{%- endfor %}
{%- set summarize_tool = '{"function": {"description": "Summarize the workflow when no other tool is needed", "name": "summarize"}, "type": "function"}' -%}
{{- "\n" }}
{{- summarize_tool }}
{{- "\n</tools>\n\nFor each function call, return a json object with function name within <tool_call></tool_call> XML tags:\n<tool_call>\n{\"name\": <function-name>}\n</tool_call><|im_end|>\n" }}
{%- for message in messages %}
    {%- if (message.role == "user") or (message.role == "system" and not loop.first) %}
        {{- '<|im_start|>' + message.role + '\n' + message.content + '<|im_end|>' + '\n' }}
    {%- elif message.role == "assistant" %}
        {% generation %}
        {{- '<|im_start|>' + message.role }}
        {%- if not message.tool_calls -%}
            {{- '\n<tool_call>\n{"name": "summarize"}\n</tool_call>' -}}
        {%- else -%}
            {%- for tool_call in message.tool_calls %}
                {%- if tool_call.function is defined %}
                    {%- set tool_call = tool_call.function %}
                {%- endif %}
                {{- '\n<tool_call>\n{"name": "' }}
                {{- tool_call.name }}
                {{- '"}\n</tool_call>' }}
            {%- endfor %}
        {%- endif -%}
        {{- '<|im_end|>\n' }}
        {% endgeneration %}
    {%- elif message.role == "tool" %}
        {%- if (loop.index0 == 0) or (messages[loop.index0 - 1].role != "tool") %}
            {{- '<|im_start|>user' }}
        {%- endif %}
        {{- '\n<tool_response>\n' }}
        {{- message.content }}
        {{- '\n</tool_response>' }}
        {%- if loop.last or (messages[loop.index0 + 1].role != "tool") %}
            {{- '<|im_end|>\n' }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
{%- endif %}
